<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="public/css/inicial.css" rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap"
			rel="stylesheet"
		/>
		<title>Seja Bem vindo!</title>
	</head>
	<body>
		<div class="container">
			<header>
				<h1>
					<a>Carinha do T.I.</a>
				</h1>
			</header>
		</div>
		<div class="content">
			<a href="login.html"> <button class="btn">Faça seu Login</button> </a>
		</div>
		<div class="content">
			<a href="cadastro.html">
				<button class="btn">Faça seu Cadastro</button>
			</a>
		</div>
	</body>
</html>
